.cta-container {
  max-width: 32rem;
  padding: 1.5rem 2rem;
  margin: auto;
}

.cta-box {
  position: relative;
  overflow: hidden;
  background: #111827;
  padding: 6rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.cta-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.cta-description {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  color: #d1d5db;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.cta-form {
  margin-top: 2.5rem;
  display: flex;
  max-width: 25rem;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.cta-input {
  flex: 1;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  outline: none;
  ring: none;
}

.cta-input:focus {
  outline: 2px solid white;
}

.cta-button {
  background: white;
  color: #111827;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.cta-button:hover {
  background: #e5e7eb;
}

.cta-svg {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 64rem;
  width: 64rem;
  transform: translate(-50%, -50%);
  z-index: -10;
}

@media (min-width: 640px) {
  .cta-box {
    padding: 8rem 4rem;
    border-radius: 2rem;
  }

  .cta-title {
    font-size: 2.25rem;
  }
}
