.logout-wrapper button {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 110px;        /* smaller width */
  padding: 0.5em 0.7em; /* smaller padding */
  font-size: 14px;      /* smaller text */
  
  border: none;
  background: var(--bg);
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

.logout-wrapper button:hover {
  opacity: 1;
}

.logout-wrapper button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}
