/* Wrapper for full-screen background */
.register-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Glassmorphism register card */
.register-container {
  width: 420px;
  padding: 32px;
  border-radius: 12px;

  background: rgba(239, 235, 235, 0.35);
  backdrop-filter: blur(12px);

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
  color: #e5e5e5;
}

/* Title styles */
.register-title {
  font-size: 28px;
  font-weight: 600;
  color: #ffa116; /* LeetCode orange */
  margin-bottom: 24px;
  text-align: center;
}

/* Input wrapper */
.input-wrapper {
  margin-bottom: 16px;
}

/* Input styling */
.register-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;

  background: #1a1a1a;
  color: #ffffff;

  border: 1px solid #333;
  outline: none;
  font-size: 15px;

  transition: border 0.2s ease;
}

.register-input:focus {
  border: 1px solid #ffa116;
}

/* Password row */
.password-row {
  display: flex;
  align-items: center;
}

/* Show/Hide Password button */
.toggle-password {
  background: none;
  border: none;
  color: #ffa116;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
}

.toggle-password:hover {
  text-decoration: underline;
}

/* Submit button */
.register-btn-wrapper {
  margin-top: 8px;
}

.register-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;

  background: #ffa116;
  color: #000;
  font-weight: 600;
  font-size: 16px;

  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.register-btn:hover {
  background: #ffb84a;
}

/* Error message */
.error-message {
  margin-top: 12px;
  text-align: center;
  color: #ff4d4d;
  font-size: 14px;
}

/* Login link */
.have-account-wrapper {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
  font-size: 14px;
}

.login-title {
  color: #ffa116;
  font-size: medium;
  cursor: pointer;
  margin-left: 6px;
  font-weight: 600;
}

.login-title:hover {
  text-decoration: underline;
}
