.light {
  --bg: #ffffff;
  --text: #000000;
  --card: #f1f5f9;
}


.dark {
  --bg: #0f172a;
  --text: #f8fafc;
  --card: #1e293b;
}


.light, .dark {
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  transition: background 0.3s ease, color 0.3s ease;
}

/* Cards, tables, login containers */
.card,
.login-container,
.table-wrapper {
  background: var(--card);
  color: var(--text);
}
